/* App.css or index.css */
@font-face {
  font-family: 'YourFont';
  src: url('./ct-galbite-regular.otf') format('truetype'); /* Update the path and format accordingly */
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'YourFont', sans-serif; /* Force your font throughout the app */
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  background: url('back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

.container {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
  box-sizing: border-box;
}

.header {
  font-size: 3rem;
  margin-bottom: 30px;
  font-weight: 600;
  color: #333;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 1.5rem;
  border-radius: 25px;
  border: none;
  background-color: #ffda77;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #ffa737;
  transform: translateY(-3px);
}
